.wrapper{
  margin: 2em 0;
}
.header{
  margin-bottom: 3.5rem;
  text-align:center;
  @media screen and (min-width: 768px){
    text-align:left;
    display:flex;
    align-items:center;
    justify-content: space-between;
  }
  .pageTitle{
    font-weight: bold;
    margin-bottom:0;
  }
  .titleFirst{
    position:relative;
    color: #C6D9EA;
    margin-right: 0.7rem;
    &:before{
      content: 'oo';
      color: black;
      display: block;
      position: absolute;
      left: 27%;
      top:50%;
      transform: translateY(-50%);
    }
  }
}
.buttonsWrap{
 text-align:center;
 margin-top: 1.5rem;
 @media screen and (min-width: 768px){
   margin-top:0;
 }
}
.list {
  display: flex;
  flex-wrap: wrap;
  .heading{
    font-weight: 600;
    width: 100%;
    margin: 2.5rem 0;
  }
}
.item {
  display: flex;
  width: 100%;
  padding: 0.7rem;
  @media screen and (min-width: 660px){
    display:block;
    width: 33.334%;
  }
  @media screen and (min-width: 1024px){
    width: 25%;
  }
  @media screen and (min-width: 1920px){
    width: 20%;
  }
}
.title{
  font-size:0.95rem;
  font-weight: 600;
  color: #212529;;
}
.description{
  font-family: 'Crimson Text', sans-serif;
  font-size:1rem;
  font-weight: 400;
 color: #6a7279;
}
.imgContainer {
  width: 110px;
  height: 150px;
  margin-bottom: 0.7rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.titleContainer{
  margin: 0.7rem;
  @media screen and (min-width: 660px){
    margin:0;
  }
}
