@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text&display=swap");

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background: #f0f8ff;
  color: #212529;
}
a {
  color: inherit;
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}
.cta {
  font-weight: 400;
  color: #f0f8ff;
  background: #4D8BC1;
  border: 2px solid transparent;
  text-decoration: none;
  padding: 0.7rem 2.5rem;
  margin-top: 1rem;
  display: inline-block;
  transition: all 0.4s;
  &:hover {
    color: #4D8BC1;
    background: #f0f8ff;
    border: 2px solid #4D8BC1;
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
  &--smaller {
    font-size: 0.85rem;
    padding: 0.45rem 1.2rem;
    margin: 0 0.3rem;
  }
  &--black {
    background: #212529;
    &:hover {
      color: #212529;
      border-color: #212529;
    }
  }
  &--red{
    background: #D03D33;
    &:hover {
      color: #D03D33;
      border-color: #D03D33;
    }
  }
}
.modal-content{
  background: #f0f8ff;
  border-radius: 0;
}
.form-control{
  border: none;
}
.modal-title{
  font-weight: bold;
}
.modal-header,
.modal-footer{
  border:none;
}